<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    
    <bean id="p1" class="Project.Employeer.Project">
        <property name="pId" value="101" />
        <property name="duration" value="6 months" />
        <property name="cost" value="5000000" />
    </bean>

    
    <bean id="e1" class="Project.Employeer.Employee">
        <property name="empid" value="101" />
        <property name="name" value="Rahul" />
        <property name="salary" value="75000" />
        <property name="project" ref="p1" />
        <property name="address">
            <map>
                <entry key="home" value="Coimbatore" />
                <entry key="office" value="Chennai" />
            </map>
        </property>
    </bean>

</beans>
